.App {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.dark {
  color: #fff;
  background-color: black;
}
.btn {
  margin: 10px 0;
  padding: 10px;
}
.theme {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: ease 0.4s;
}
